In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# Config

In [ ]:
RANDOM_SEED = 843734

main_path = "/content/gdrive/My Drive/TA/Ards/"

dataset_path = main_path + "datas/datasets.csv"
export_path = main_path + "datas/datasets_cleaned.csv"

# Preprocess

## Load Data

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv(dataset_path, encoding='latin-1')
df.head()

,√Ø¬ª¬øusefulness,userName,score,at,content,labs
0,1,Mangatas Simorangkir,3,11/21/2022 12:08,App mypertamina di hp saya tdk bisa lagi login...,1
1,1,Lukman Kurniawan,1,11/21/2022 11:39,Tidak bisa akses qr code nya,1
2,1,Susanto Ganesa,1,11/21/2022 11:03,Mau masuk barcode saja tdk bisa. Piye to kih..,1
3,1,Tiyo Aldo,1,11/21/2022 10:27,"Setelah update, malah menu program subsidi tep...",1
4,1,H E N Z R E A L,3,11/21/2022 9:49,Eror setelah diperbarui gak bisa buka barcode,1

In [ ]:
len(df)

162

In [ ]:
###Drop Nan Values
df=df.dropna()
len(df)

162

In [ ]:
# df = df.rename(columns={'content': 'text', '√Ø¬ª¬øusefulness': 'label'})
df = df.rename(columns={'content': 'text', 'score': 'label'})

In [ ]:
df.head()

,√Ø¬ª¬øusefulness,userName,label,at,text,labs
0,1,Mangatas Simorangkir,3,11/21/2022 12:08,App mypertamina di hp saya tdk bisa lagi login...,1
1,1,Lukman Kurniawan,1,11/21/2022 11:39,Tidak bisa akses qr code nya,1
2,1,Susanto Ganesa,1,11/21/2022 11:03,Mau masuk barcode saja tdk bisa. Piye to kih..,1
3,1,Tiyo Aldo,1,11/21/2022 10:27,"Setelah update, malah menu program subsidi tep...",1
4,1,H E N Z R E A L,3,11/21/2022 9:49,Eror setelah diperbarui gak bisa buka barcode,1

In [ ]:
selected_columns = ['text', 'label']
df = df[selected_columns]

In [ ]:
df.label.value_counts()

1    130
2     13
3     10
5      5
4      4
Name: label, dtype: int64

In [ ]:
text = df['text'].values
label = df['label'].values

In [ ]:
label

array([3, 1, 1, 1, 3, 1, 2, 4, 1, 1, 1, 1, 1, 1, 3, 1, 4, 1, 1, 1, 1, 1,
       1, 1, 2, 1, 3, 1, 1, 1, 1, 3, 1, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 3, 1, 1, 4, 1, 1, 1, 1, 1, 1, 5, 1, 2, 2, 1, 1, 3, 1, 2,
       1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 3,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 5, 1, 1, 1, 1, 1, 2, 1, 5, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 1, 4, 1, 3, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
## Get the Dependent features
y=df['label']

In [ ]:
y.value_counts()

1    130
2     13
3     10
5      5
4      4
Name: label, dtype: int64

In [ ]:
label = y

## Dataset Preprocessing

In [ ]:
data_text=df.copy()
data_text.head()

                                                text  label
0  App mypertamina di hp saya tdk bisa lagi login...      3
1                       Tidak bisa akses qr code nya      1
2     Mau masuk barcode saja tdk bisa. Piye to kih..      1
3  Setelah update, malah menu program subsidi tep...      1
4      Eror setelah diperbarui gak bisa buka barcode      3

In [ ]:
data_text.reset_index(inplace=True)
data_text.head()

   index                                               text  label
0      0  App mypertamina di hp saya tdk bisa lagi login...      3
1      1                       Tidak bisa akses qr code nya      1
2      2     Mau masuk barcode saja tdk bisa. Piye to kih..      1
3      3  Setelah update, malah menu program subsidi tep...      1
4      4      Eror setelah diperbarui gak bisa buka barcode      3

In [ ]:
import re

def remove_noise_text(text):

    # case folding
    text = text.lower()

    # menghapus karakter khusus
    text = re.sub(r'[^a-zA-Z0-9\s]', ' ', text)
    text = re.sub(r'[0-9]', ' ', text)
    text = re.sub(r"\s+", " ", text)

    return text

# contoh penggunaan
text = "i Like android/ios üòäüëç"
text = "'-Sangat suuusah diakses -Terlalu banyak persyaratan yg harus diisi -Saat sudah mengisi belum tentu terdaftar -Sangat menyusahkan masyarakat -Menghabiskan waktu aja, sia√Ç¬≤ buang buang waktu"
clean_text = remove_noise_text(text)
print(clean_text)

 sangat suuusah diakses terlalu banyak persyaratan yg harus diisi saat sudah mengisi belum tentu terdaftar sangat menyusahkan masyarakat menghabiskan waktu aja sia buang buang waktu

In [ ]:
import time
import datetime

def format_time(elapsed):
  elapsed_rounded = int(round(elapsed))
  return str(datetime.timedelta(seconds=elapsed_rounded))

In [ ]:
import time
from tqdm import tqdm

In [ ]:
df = pd.DataFrame(columns=['text', 'label'])
t0 = time.time()
for _, row in tqdm(data_text.iterrows(), total=data_text.shape[0]):
  # Apply remove_special_characters function to title column
  text = remove_special_characters(row['text'])

  # Create the new row as its own dataframe
  df_new_row = pd.DataFrame({ 'text': [text], 'label': row['label'] })
  df = pd.concat([df, df_new_row])

print("\nThis process took: {:}".format(format_time(time.time() - t0)))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 162/162 [00:00<00:00, 1248.76it/s]

This process took: 0:00:00

In [ ]:
data_text.head()

   index                                               text  label
0      0  App mypertamina di hp saya tdk bisa lagi login...      3
1      1                       Tidak bisa akses qr code nya      1
2      2     Mau masuk barcode saja tdk bisa. Piye to kih..      1
3      3  Setelah update, malah menu program subsidi tep...      1
4      4      Eror setelah diperbarui gak bisa buka barcode      3

In [ ]:
df = df.reset_index()

In [ ]:
df.head()

   index                                               text label
0      0  app mypertamina di hp saya tdk bisa lagi login...     3
1      0                       tidak bisa akses qr code nya     1
2      0       mau masuk barcode saja tdk bisa piye to kih      1
3      0  setelah update malah menu program subsidi tepa...     1
4      0      eror setelah diperbarui gak bisa buka barcode     3

In [ ]:
text = df['text']

In [ ]:
labels = y

In [ ]:
labels.head()

0    3
1    1
2    1
3    1
4    3
Name: label, dtype: int64

In [ ]:
df_data_clean = df

# Define the output file name
output_report_file = dataset_path + '100s test new_step2.csv'

# Write the DataFrame to a CSV file
df_data_clean.to_csv(output_report_file, index=False)

In [ ]:
type(labels)

pandas.core.series.Series

In [ ]:
type(labels[0])

numpy.int64

# Normalization

In [ ]:
import pandas as pd
import numpy as np
import nltk
import re
import string

data = df

In [ ]:
#Melakukan pemisahan kata
from nltk.tokenize import RegexpTokenizer
from collections import Counter

data['text'] = data['text'].apply(str)

tokenizer = RegexpTokenizer('\s+', gaps=True)
total_words = 0

data_text = data['text'].apply(lambda x: tokenizer.tokenize(x))

In [ ]:
data_text

0      [app, mypertamina, di, hp, saya, tdk, bisa, la...
1                    [tidak, bisa, akses, qr, code, nya]
2      [mau, masuk, barcode, saja, tdk, bisa, piye, t...
3      [setelah, update, malah, menu, program, subsid...
4      [eror, setelah, diperbarui, gak, bisa, buka, b...
                             ...
157    [t, la, makin, susah, ngisi, bbm, mana, harga,...
158    [susah, iy, melawan, orang, pintar, otak, otak...
159    [saya, doakan, pertamina, bangkrut, spbunya, k...
160    [aplikasi, yng, sangat, menjengkelkan, ribet, ...
161    [mo, isi, bbm, aja, susah, banget, padahal, ki...
Name: text, Length: 162, dtype: object

In [ ]:
#Menghilangkan token yang kosong
for text in data_text:
    for sub_text in text:
        if sub_text == '':
            text.remove(sub_text)

In [ ]:
data_text[:5]

0    [app, mypertamina, di, hp, saya, tdk, bisa, la...
1                  [tidak, bisa, akses, qr, code, nya]
2    [mau, masuk, barcode, saja, tdk, bisa, piye, t...
3    [setelah, update, malah, menu, program, subsid...
4    [eror, setelah, diperbarui, gak, bisa, buka, b...
Name: text, dtype: object

In [ ]:
pip install --upgrade gensim

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gensim in /usr/local/lib/python3.10/dist-packages (4.3.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.22.4)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim) (6.3.0)

In [ ]:
pip install --upgrade numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)
Collecting numpy
  Downloading numpy-1.25.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 17.6/17.6 MB 97.2 MB/s eta 0:00:00
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.22.4
    Uninstalling numpy-1.22.4:
      Successfully uninstalled numpy-1.22.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
numba 0.56.4 requires numpy<1.24,>=1.18, but you have numpy 1.25.0 which is incompatible.
tensorflow 2.12.0 requires numpy<1.24,>=1.22, but you have numpy 1.25.0 which is incompatible.
Successfully installed numpy-1.25.0

In [ ]:
pip install gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (4.6.6)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.12.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.27.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.65.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
!gdown https://drive.google.com/uc?id=1Wj0r8eWkD7-6BwLy3eHy90YG9ilgA1xL

Downloading...
From: https://drive.google.com/uc?id=1Wj0r8eWkD7-6BwLy3eHy90YG9ilgA1xL
To: /content/idwiki_word2vec_200_new.tar.gz
100% 515M/515M [00:12<00:00, 39.8MB/s]

In [ ]:
!tar -xvzf /content/idwiki_word2vec_200_new.tar.gz

idwiki_word2vec_200_new_lower.model.wv.vectors.npy
idwiki_word2vec_200_new_lower.model.trainables.syn1neg.npy
idwiki_word2vec_200_new_lower.model

In [ ]:
from gensim.models import Word2Vec
path = F"/content/idwiki_word2vec_200_new_lower.model"
model = Word2Vec.load(path)

In [ ]:
#Mengambil data kamus daftar bahasa tidak baku

!wget -c https://raw.githubusercontent.com/nasalsabila/kamus-alay/master/colloquial-indonesian-lexicon.csv -O slang.csv

slang_corpus = pd.read_csv("/content/slang.csv")
slang_corpus = slang_corpus[slang_corpus.columns[0:2]]
slang_corpus

          slang         formal
0          woww            wow
1         aminn           amin
2           met        selamat
3        netaas        menetas
4       keberpa       keberapa
...         ...            ...
15001  gataunya  enggak taunya
15002      gtau     enggak tau
15003     gatau     enggak tau
15004     fans2        fan-fan
15005   gaharus   enggak harus

[15006 rows x 2 columns]

In [ ]:
import gensim

In [ ]:
#Menggunakan perbandingan dengan word2vec yang ada dan edit distance untuk membuat kata menjadi kata formal
import time
from datetime import timedelta


print("Normalisasi data...")
start_time = time.time()
import nltk
corr_data_texts = []
slang_words = []
reco_words = []
corr_word = 0
tot_word = 0

for text in tqdm(data_text, desc='Normalisasi data_text', unit=' text'):
    corr_data_text = []
    slang_word = []
    for sub_text in text:
        if sub_text in model.wv.index_to_key:
            sim_slang = slang_corpus[slang_corpus['slang'] == sub_text]
            if len(sim_slang) != 0:
                mode_word = sim_slang.formal.mode()[0]
                corr_word = corr_word + 1
                corr_data_text.append(mode_word)
            else:
                corr_word = corr_word + 1
                corr_data_text.append(sub_text)
        else:
            comment_found = False
            sim_slang = slang_corpus[slang_corpus['slang'] == sub_text]
            if len(sim_slang) != 0:
                mode_word = sim_slang.formal.mode()[0]
                corr_word = corr_word + 1
                corr_data_text.append(mode_word)
                comment_found = True
            else:
                rat_words = []
                for slang in slang_corpus['slang']:
                    rat_word = nltk.edit_distance(sub_text, slang)
                    rat_words.append(rat_word)
                min_rat = rat_words.index(min(rat_words))
                value = str(slang_corpus.formal.loc[min_rat])
                corr_words = corr_word + 1
                corr_data_text.append(value)
                slang_words.append(sub_text + " = " + value)
                comment_found = True
            if comment_found ==  False:
                corr_data_text.append(sub_text)
                slang_words.append(sub_text + " = " + "Not Found")
        tot_word += 1
    corr_data_texts.append(corr_data_text)
print("Total kata yang diperbaiki : " + str(corr_word) + " dari total semua kata : " + str(tot_word))
finish_time = time.time()
print('Elapsed time: {}'.format(timedelta(seconds=finish_time-start_time)))

Processing data...

Processing data_text: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 162/162 [01:24<00:00,  1.92 text/s]

Total kata yang diperbaiki : 3070 dari total semua kata : 3202
Elapsed time: 0:01:24.582497

In [ ]:
data['result'] = corr_data_texts

In [ ]:
def join(text):
    text  = " ".join([char for char in text if char not in string.punctuation])
    return text

In [ ]:
data['result'] = data['result'].apply(lambda x: join(x))
data

,index,text,label,result
0,0,app mypertamina di hp saya tdk bisa lagi login...,3,app pertamanya di hp saya tidak bisa lagi logi...
1,0,tidak bisa akses qr code nya,1,tidak bisa akses qr code nya
2,0,mau masuk barcode saja tdk bisa piye to kih,1,mau masuk barcode saja tidak bisa piye tapi kih
3,0,setelah update malah menu program subsidi tepa...,1,setelah update malah menu program subsidi tepa...
4,0,eror setelah diperbarui gak bisa buka barcode,3,eror setelah diperbarui enggak bisa buka barcode
...,...,...,...,...
157,0,t la makin susah ngisi bbm mana harga makin ma...,1,itu lah makin susah ngisi bbm mana harga makin...
158,0,susah iy melawan orang pintar otak otak nya my...,1,susah iya melawan orang pintar otak otak nya m...
159,0,saya doakan pertamina bangkrut spbunya kebakar...,1,saya doakan pertamina bangkrut sebenarnya keba...
160,0,aplikasi yng sangat menjengkelkan ribet dan bi...,1,aplikasi yang sangat menjengkelkan ribet dan b...
161,0,mo isi bbm aja susah banget padahal kita bayar...,1,mau isi bbm saja susah banget padahal kita bay...

In [ ]:
data['result'] = data['result'].str.lower()

In [ ]:
data.to_csv(export_path)